.body-container{
  margin:0;

  --bg:#fff;
  --bg2:#fafafa;
  --fg:#333;
  --fg2:#565656;
  --light-fg:#999;
  --very-light-fg:#bbb;
  --pre-border-color:#000;
  --pre-fg:#ccc;
  --pre-bg:#263238;
  --code-fg:#ccc;
  --code-bg:transparent;
  --border-color:#ccc;
  --input-bg:#fff;
  --input-border-color:#C5D9E8;
  --placeholder-color:#dedede;
  --light-border-color:#eee;
  --light-get-color:#eff8fd;
  --light-put-color:#fff5e6;
  --light-post-color:#fbfff0;
  --light-delete-color:#fff0f0;
  --light-patch-color:#fff5cc;
  --hover-color:#f7f7f7;
  --error-color:#ff3333;
  --success-color:#47AFE8;
  --hover-bg:#f7f7f7;
  --get-color:#47AFE8;
  --put-color:#FF9900;
  --post-color:#99CC00;
  --delete-color:#F06560;
  --patch-color:#fc0;
  --link-color:#47AFE8;
  --primary-color:#FF791A;
  --dark-primary-color:darken(#FF791A, 30%);
  --primary-text:#FFFFFF;
  --header-bg:#444;
  --header-fg:#CCC;
  --layout:column;
  --font-mono:Monaco, 'Andale Mono', 'Roboto Mono', Consolas;
  --font-mono-size:14px;
  --font-regular: Helvetica, Arial;
  --title-font-size:16px;
  --regular-font-size:14px;
  --small-font-size:12px;
  --border-radius:2px;

  display:block;
  min-width:375px;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow: auto;
  letter-spacing:normal;
  color:var(--fg);
  background-color:var(--bg);
  font-family:var(--font-regular);
}

        .section-gap {
          padding: 24px 8px 8px 8px;
        }

        .logo {
          height:36px;
          width:36px;
          margin-left:5px;
        }
        .only-large-screen-flex,
        .only-large-screen{
          display:none;
        }
        .header-title{
          font-size:calc(var(--title-font-size) + 8px); padding:0 8px;
        }
        .tag{
          text-transform: uppercase;
        }

        @media only screen and (min-width: 768px){
          .only-large-screen{
            display:block;
          }
          .only-large-screen-flex{
            display:flex;
          }
          .body-container{
            margin:0 16px;
          }
          .section-gap {
            padding: 24px 24px 8px 24px;
          }
        }
